node_modules/
dist/
build/
.vite/
.env
.env.*
!.env.local.example
.DS_Store
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.vscode/
.idea/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
public/*.env
node_modules
